.container{
    color: white;
    font-size: 30px;
    font-weight: bold; /* Hace el texto más grueso */
    
}



.titulo {
    color: white;
    font-size: 2cm;
    display: inline-block;
    margin-left: 16cm;
    background-color: rgba(0,0,0,0.7);
    padding: 10px;
    border-radius: 10px;
    
}

@keyframes neonGlow {
    0%, 100% {
        text-shadow: 
            0 0 5px purple,
            0 0 10px purple,
            0 0 20px purple,
            0 0 40px purple,
            0 0 80px purple,
            0 0 90px purple;
        box-shadow: 
            0 0 5px purple,
            0 0 10px purple,
            0 0 20px purple,
            0 0 40px purple,
            0 0 80px purple,
            0 0 90px purple;
    }
    50% {
        text-shadow: 
            0 0 2px purple,
            0 0 5px purple,
            0 0 10px purple,
            0 0 20px purple,
            0 0 30px purple;
        box-shadow: 
            0 0 2px purple,
            0 0 5px purple,
            0 0 10px purple,
            0 0 20px purple,
            0 0 30px purple;
    }
}

.btn-success {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1cm;
    color: rgb(236, 236, 236);
    background: none;
    border: 2px solid purple;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    animation: neonGlow 1.5s infinite alternate;
    border-radius:10px;
    
}

input,textarea,.entrada {
    opacity: 70%; /* HACER MAS TRANSPARENTE LOS INPUT */
}

